*, p{
    padding: 0px;
    margin: 0px;
}

main{
    padding: 5px 0px;
}

.border-box{
    border: 1px solid rgb(179, 179, 179);
    padding: 40px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    margin: auto;
}

.border-box.bottom-box{
    padding: 10px;
    font-size: 0.9rem;
    margin-top: 10px;
}

.border-box.bottom-box a{
    font-weight: bold;
    color: rgb(32, 185, 245);
}

a{
    text-decoration: none;
}

.main-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logo-img{
    width: 170px;
    margin-bottom: 40px;
}

.input{
    border: 1px solid rgb(165, 165, 165);
    border-radius: 3px;
    padding: 9px;
    outline: none;
    font-size: 0.8rem;
    align-self: stretch;
}

.myBtn{
    background-color: rgb(32, 185, 245);
    color: white;
    border-radius: 7px;
    font-size: 0.8rem;
    border: none;
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    font-weight: bold;
}